@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;600;800&display=swap");

:root {
  --dark: #2e7d32;
  --accent: #ffeb3b;
  --light: #00c853;
  --black: #212121;
  --white: #fafafa;
}

html {
  background: var(--white);
  color: var(--black);
}

body {
  margin: 0;
  font-family: "Tektur", sans-serif;
  font-size: 1rem;
}

main {
  margin: auto;
  padding: 1rem;
  max-width: 60ch;
  right: 0;
  border-inline: 2px var(--light) solid;
}

a:any-link {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;

  position: sticky;
  top: 0;

  background: var(--dark);
  color: var(--white);
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.links a:any-link {
  font-weight: 600;
  color: var(--white);
  transition: color 0.1s;
}

.links a:hover {
  color: var(--accent);
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.todo-preview {
  background: var(--dark);
  color: var(--white);

  padding: 1rem;
  border-radius: 0.5rem;
}

.todo-preview h2 {
  margin: 0;
}
